# Directories
build
external

# Files

*.db-shm

.vs/CG3DBasicEngine/v17/ipch/AutoPCH/ffec3fc96354ab4a/FRUSTUM.ipch

.vs/CG3DBasicEngine/v17/workspaceFileList.bin

.vs/CG3DBasicEngine/v17/ipch/AutoPCH/f3bcca060afc4576/CAMERA.ipch

*.ipch

*.db

*.opendb

.vs/CG3DBasicEngine/v17/Browse.VC.db-wal

.vs/CG3DBasicEngine/v17/.suo

.vs/slnx.sqlite
