# Directories
build
external

# Files
!out/build/x64-Debug/shaders/myShader.glsl
!out/build/x64-Debug/shaders/myShader.vs

.vs/CG3DBasicEngine/v17/ipch/AutoPCH/a11ecbd18ada7abb/ASSIGNMENT1.ipch

.vs/CG3DBasicEngine/v17/ipch/AutoPCH/d665675731a8578e/MAIN.ipch

.vs/CG3DBasicEngine/v17/

.vs/CMake Overview

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
